.backgroundCircle {
  stroke: theme('backgroundColor.gray.200');
}

.stroke {
  stroke: theme('backgroundColor.orange.500');
}

.strokeIsOverLimit {
  stroke: theme('backgroundColor.red.400');
}

.circle {
  transition: stroke-dashoffset 1s linear;
}
