.backgroundCircle {
  stroke: theme('backgroundColor.gray.200');
}

.isOverLimit {
  stroke: theme('backgroundColor.red.400');
}

.foregroundCircle {
  stroke: theme('backgroundColor.orange.500');
  transition: stroke-dashoffset 1s linear;
}
