.root {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;

  @media (min-width: theme('screens.md')) {
    grid-template-rows: auto 1fr auto;
  }
}

.header {
  @media (min-width: theme('screens.md')) {
    min-height: 200px;
  }
}

.footer {
  @media (min-width: theme('screens.md')) {
    min-height: 200px;
  }
}
