.root > * {
  flex-basis: clamp(200px, 50%, 275px);
  flex-grow: 0;
  margin: calc(theme('spacing.4') / 2);

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}
